<center><h1>DnD Campaigns</h1>

<% @dnd_campaigns.each do |campaign| %>
  <p><%=campaign.name%> - <%=campaign.created_at%></p>
<%end%>
<%= link_to "Create DnD Campaign", "/dnd_campaigns/new" %>
</center>