<center><h1>DnD Campaigns</h1>

<% @dnd_campaigns.each do |campaign| %>
  <p><%=link_to "#{campaign.name}", "/dnd_campaigns/#{campaign.id}"%> - <%=campaign.created_at%></p>
<%end%>
<%= link_to "Create New DnD Campaign", "/dnd_campaigns/new" %>
</center>