<h1><%=@dnd_campaign.name%> </h1>
<p><b>Setting:</b> <%= @dnd_campaign.setting%> </p>
<p><b>Sessions:</b> <%= @dnd_campaign.sessions%> </p>
<p><b>Campaign Active:</b> <%= @dnd_campaign.active_campaign%> </p>